
@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <div class="text-red">
        @ViewBag.ErrorMessage
    </div>
    <img src="~/error.svg" width="500px" style="margin-top: 100px"/>
</div>
